* {
    margin: 0;
}

*::selection {
    background: #9e2c2c;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: "montserrat";
}

header {
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header img {
    height: 60px;
    padding: 10px;
    object-fit: cover;
}

ul li{
    list-style: none;
    padding: 10px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(240, 176, 39);
}

main {
    padding-top: 80px;
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
    font-family: "Roboto Slab";
}

h1 {
    font-size:  4rem;
}

h1:hover{
    color: #6F0700;
}

footer {
    padding: 20px;
}

.hero {
    height:70vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10rem;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%236F0700' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1.9' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.93'%3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%236F0700' fill-opacity='0.93' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin-right: 5rem;
}


@keyframes bounce {
    from {
        transform: translateY(-50);
    }

    to {
        transform: translateY(50px);
    }
}


.hero-image{
    border-radius: 20px;
    border: 3px solid #6F0700;
    animation: 2s infinite alternate bounce;
}
.button{
    min-width: 30px;
    max-width: 200px;
    font-family: "Roboto Slab";
    color: white;
    background-color: rgb(152, 0, 0);
    padding: 12px;
    border-radius: 20px;
    border: none;
    border: #111827 2px solid;
}

@keyframes shake {
    from {
        transform: translateX(-5px);
    }

    5%{
        transform: translateX(5px);

    }

    10%{
        transform: translateX(-5px);
    }

    15%{
        transform: translateX(5px);
    }

    to {
        transform: translateX(-5px);
    }
}


.buy-button{
    position: fixed;
    right: 50px;
    bottom: 12px;
    animation: 3s infinite alternate shake;
}

.catalogue-container{
    background-color: white;
    height: 100vh;
    padding: 10rem;
}

.catalogue-title{
    color: black;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.card{
    width: 25%;
    height: 200px;
    border:rgb(216, 216, 216) 2px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}

.catalogue-content{
    display: flex;
    flex-direction: row;
}

.card-image{
    object-fit: contain;
}

.contacts-container{
    min-height: 20vh;
    background-color: #7F1D1D;
    padding: 10rem;
}

.contacts-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input,textarea {
    border-radius: 10px;
    height:40px;
    margin-bottom: 8px;
    border:rgb(152, 0, 0) 2px solid;
    padding: 5px;
}
.contacts-container input:focus, textarea:focus{
    border:rgb(89, 2, 2) 3px solid;
    outline: none;
}